POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
CONNECTION_STRING_DB=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=
CORS_ALLOWED_ORIGIN=